*::placeholder {
    color: #81848A;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.contact-content>.info>.contact,
.contact-content>.info>.head-office,
.contact-content>.info>.usa-office {
    margin: 2rem 0;
}

.contact-content>.info>.contact>h3,
.contact-content>.info>.head-office>h3,
.contact-content>.info>.usa-office>h3 {
    font-size: 1.2rem;
}

.contact-content>.info>.contact>.heading,
.contact-content>.info>.head-office>.heading,
.contact-content>.info>.usa-office>.heading {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.7rem;
    margin-bottom: 1rem;
}

.contact-content>.info>.contact>.heading>img,
.contact-content>.info>.head-office>.heading>img,
.contact-content>.info>.usa-office>.heading>img {
    background: #1E63AD;
    border-radius: 1rem;
    padding: 1rem;
}

.contact-content>.form {
    padding: 4rem;
    box-shadow: 0px -8px 17px 0px rgba(163, 163, 163, 0.25);
}

.contact-content>.form input {
    padding: 1rem 0;
    margin: 1rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    font-size: 1.5rem;
}

.contact-content>.form input:focus-visible {
    outline: none;
}

.contact-content>.form>form>.name {
    display: flex;
    gap: 1rem;
}

.contact-content>.form>form>button {
    color: #fff;
    background: #1E63AD;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    margin: 1.5rem 0;
    font-size: 1rem;
}

.contact-content>.form>form>button img {
    width: 18px;
    margin: 0 0.5rem;
}

.skill-info {
    padding: 4rem 6rem;
    color: #fff;
    background: #1E63AD;
    margin-bottom: 1rem;
    display: flex;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

.skill-info>h1 {
    padding-left: 2rem;
    border-left: 1rem solid #FCD30B;
}

.skill-info>.values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}

.divider {
    grid-column: 1 / -1;
    height: 1px;
    background-color: #fff;
}

.learn-more {
    color: #fff;
    padding: 4rem 6rem;
    background: linear-gradient(to right, #1E63AD 0%, #FCD30B 100%);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.learn-more>button {
    padding: 1rem 2rem;
    color: #fff;
    background: #1E63AD;
    border-radius: 2rem;
    font-size: 1rem;
}

.learn-more>button>span {
    padding: 0.5rem;
    border-radius: 50%;
    background: #FCD30B;
    margin: 0 0 0 1rem;
}

@media (max-width:1441px) {
    .container {
        margin: 4rem 8rem;
    }

    .skill-info {
        padding: 4rem;
    }
}

@media (max-width: 1025px) {
    .container {
        margin: 4rem;
    }

    .skill-info {
        padding: 2rem;
    }
}

@media (max-width: 769px) {
    .contact-content {
        grid-template-columns: 1fr;
    }

    .skill-info {
        flex-direction: column;
        gap: 4rem;
        padding: 4rem;
    }

    .learn-more {
        padding: 4rem 2rem;
    }

    .learn-more>button {
        padding: 1rem;
    }
}

@media (max-width:481px) {
    p {
        font-size: 1rem !important;
    }

    h1 {
        font-size: 1.2rem !important;
    }

    .container {
        margin: 2rem;
    }

    .contact-content>.form {
        padding: 2rem;
    }

    .skill-info {
        padding: 2rem;
        gap: 2rem;
    }

    .learn-more {
        flex-direction: column;
        padding: 2rem;
    }

    .contact-content>.form>form>.name {
        flex-direction: column;
    }
}